<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dw.admin">
  
   <select id="login" resultType="AdminDTO">

      SELECT * FROM tbl_admin WHERE adminId = #{adminId} AND aPassword = #{aPassword}

   </select>
  
  	<delete id="delete">
  	
  		DELETE FROM tbl_admin WHERE adminId = #{adminId}
  	
  	</delete>
  	
  	
	<!-- 주문 리스트 -->
	<select id="getOrderList" resultType="OrderDTO">
		<![CDATA[
		SELECT * 
		FROM(
		    SELECT rownum rn, orderId, userId, orderstate, orderdate
		    from tbl_order
		    WHERE rownum <= #{pageNum} * #{amount} 
		]]>    
		<if test="keyword != null">
			and userId like '%'||#{keyword}||'%'
		</if>
		<![CDATA[
		    
		    ORDER BY orderdate desc
		    )
		WHERE rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	
	
	<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
		SELECT count(*) FROM tbl_order
		<if test="keyword != null">
	    	WHERE userId like '%'||#{keyword}||'%'
	    </if>
	</select>
  
	
	<update id="update">

	UPDATE tbl_admin SET 
	aName = #{aName}, aNickname = #{aNickname}, 
	aPostnumber = #{aPostnumber}, aAddress = #{aAddress}, adetailAddress = #{adetailAddress},
	aPhone = #{aPhone}, aEmail = #{aEmail}
	WHERE adminId = #{adminId} AND aPassword = #{aPassword}

	</update>
	  
  
  	<select id="updateUI" resultType="AdminDTO">

		SELECT * FROM tbl_admin WHERE adminId = #{adminId}

	</select>

	<select id="read" resultType="AdminDTO">
		SELECT * FROM tbl_admin WHERE adminId = #{adminId}
	</select>	
  
  
	<select id="list" resultType="AdminDTO">
		SELECT * FROM tbl_admin
	</select>
	
	
	 <insert id="insert">
	  	INSERT INTO tbl_admin(adminId, aName, aNickname, aPassword, aBirth, aPostnumber, aAddress, adetailAddress, aPhone, aEmail) 
	  	VALUES(#{adminId}, #{aName}, #{aNickname}, #{aPassword}, #{aBirth}, #{aPostnumber}, #{aAddress}, #{adetailAddress}, #{aPhone}, #{aEmail})
	 </insert>  
	  
  
</mapper>