<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.noticeupload">

	<insert id="insert"> 
		INSERT INTO notice_upload(filename, nno) VALUES(#{filename}, #{nno})
	</insert>
	
	<select id="getAllUpload" resultType="string">
		SELECT filename FROM notice_upload WHERE nno = #{nno}
	</select>

	<delete id="deleteUpload">
		DELETE FROM notice_upload WHERE filename = #{filename}
	</delete>

</mapper>