<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.upload">



<delete id="deleteUpload">
DELETE FROM pro_upload WHERE filename = #{filename}


</delete>

<select id="list" resultType="string">
		SELECT * FROM pro_upload WHERE pno = #{pno} ORDER BY pno DESC
	</select>
	
	
<select id="getAllUpload" resultType="string">
		SELECT * FROM pro_upload WHERE pno = #{pno}
	</select>
	
	
<insert id="insert">
INSERT INTO pro_upload
(filename, pno)
VALUES 
(#{filename},  #{pno})


</insert>
  
</mapper>